{% extends 'base.html' %}

{% block content %}
    <section id="pageContent">
		<main role="main">
            {% for message in messages %}
            <article>
                {% if message.is_reply %}
                    <h2> Operator </h2>
                {% else %}
                    <h2> {{ message.username }} </h2>
                {% endif %}
                <p>{{ message.text }}</p>
                <hr>
                <p>{{ message.date }}</p>
            </article>
            {% endfor %}
            <form action="/dialog/{{ chat_id }}/send" method="post">
            {% csrf_token %}  }
            <ul>
                <li>
                    <label for="text">Text:</label>
                    <textarea id="text" name="text"></textarea>
                </li>
                <li class="button">
                    <button type="submit">Send</button>
                </li>
            </ul>
        </form>
{#            <button onclick="location.href='/note/{{ note.id }}/edit'" type="button">Edit</button>#}
{#            <button onclick="location.href='/note/{{ note.id }}/delete'" type="button">Delete</button>#}
        </main>
    </section>
{% endblock  %}